<div class="d-flex">

  <!-- 
      ng g c gifs/busqueda --skipTests -is
      nota: el -is inline style, para que no genere un archivo independiente de estilo css (busque.component.css)
   -->

  <!-- Sidebar -->
  <app-sidebar></app-sidebar>
  <!-- <div class="bg-dark border-right p-3" id="sidebar">
    <h3 class="text-light">Gifs-App</h3>

    <hr class="text-white" />
    <div class="list-group list-reset">
      <a href="#" class="list-group-item list-group-item-action">
        Dashboard
      </a>
    </div>
  </div> -->
  <!-- End Sidebar -->

  <app-gifs-page class="container"></app-gifs-page>
  <!-- <div class="container">
    <div class="row p-3">

      <div class="col">
        <h5>Buscar:</h5>
        <input type="text" class="form-control" placeholder="Buscar gifs...">
      </div>

    </div>

    <hr />
    <div class="row">
      <div class="col">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. In eaque perspiciatis id, corrupti nemo minima impedit dignissimos qui reprehenderit, error, omnis ab vel repudiandae sunt voluptates ipsam iste assumenda obcaecati?
      </div>
    </div>

  </div> -->

</div>